[submodule "external/shared"]
	path = external/shared
    url = https://github.com/wmathurin/SalesforceMobileSDK-Shared.git
[submodule "external/SalesforceMobileSDK-UITests"]
	path = external/SalesforceMobileSDK-UITests
	url = https://github.com/wmathurin/SalesforceMobileSDK-UITests
